Creatures with set spawns no longer spawn

**Description:**

It seems some creatures stoped spawning at some point. 
Like http://www.wowhead.com/npc=3452/serena-bloodfeather
or several creatures in Tirisfal at the Crusader Outpost for example or 
http://www.wowhead.com/npc=1657/devlin-agamand


**Current behaviour:**

 The creatures are missing.

**Expected behaviour:**

The creatures should be there.

**Steps to reproduce the problem:**

.go creature id 3452 or
.go creature id 1657
teleports us to the location set on creature DB

**Branch(es):**

3.3.5

**TC rev. hash/commit:** 

TrinityCore rev. 84f69a3b6c9e 2017-12-26 12:09:43 -0300 (3.3.5 branch) (Win64, RelWithDebInfo, Dynamic)

**TDB version:**  
3.3.5.63

**Operating system:**
Windows Server 2012 R2


https://i.imgur.com/3esVu47.jpg
https://i.imgur.com/PFSMdn0.jpg
Works for me (TM)

It's a fresh instal.
Dropping and repopulating the world database changes nothing but deleting the old creature entry and creating a new one, causes the creature to spawn as expected.

Ok using .respawn near the missing npcs causes them to spawn and seems to fix the problem.

^^
Timestamp Converter
1509266667
Is equivalent to:
10/29/2017 @ 8:44am (UTC)
2017-10-29T08:44:27+00:00 in ISO 8601
Sun, 29 Oct 2017 08:44:27 +0000 in RFC 822, 1036, 1123, 2822
Sunday, 29-Oct-17 08:44:27 UTC in RFC 2822
2017-10-29T08:44:27+00:00 in RFC 3339